<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {
            color: red;
        }

        .green {
            color: green;
            font-size: 26px;
        }

        ol li {
            border: 2px solid red;
        }

        ul > li {
            border: 2px solid aqua;
        }
    </style>
</head>
<body>
<img src="https://thumb.tildacdn.com/tild3831-3538-4265-b836-326564373033/-/resize/824x/-/format/webp/java.jpg"
     style="width: 200px">
<img src="../static/joinus-java.png" style="width: 200px">
<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<p>text1</p>
<p class="green">text2</p>
<p>text3</p>
<p>text4</p>
<ul>
    <li>1</li>
    <li>2</li>
    <div>
        <li>3</li>
    </div>
</ul>
<ol>
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ol>
<a href="index.html">index</a>
<a href="https://google.com" target="_self">Google</a>
</body>
</html>